<div class="ob-card-apex md-elevation-z6">

    <h1 mat-dialog-title>
        Rename List Item
        <mat-icon color="primary" class="ob-card-apex-icon">folder</mat-icon>
    </h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput [(ngModel)]="data.name" placeholder="Item Short Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.longDescription" placeholder="Item Full Description">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button (click)="onNoClickAddList()" color="warn">Cancel</button>
      <button mat-raised-button [mat-dialog-close]="data" color="primary" cdkFocusInitial>Update</button>
    </div>
    
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->