<div class="ob-fab-add-group ob-fab-stacker">            
    <button mat-mini-fab (click)="openAddListItemDialog()" color="primary" aria-label="Add a item" class="ob-fab-roomy">
        <mat-icon>add</mat-icon>
    </button>
        <button mat-mini-fab (click)="goBack()" color="accent" aria-label="Go Back" class="ob-fab-roomy">
        <mat-icon>replay</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="Help" class="ob-fab-roomy">
        <mat-icon>help_outline</mat-icon>
    </button>
</div>

<mat-card class="ob-card-apex md-elevation-z6">
  
  <mat-card-title class="thinner">
    <div class="ob-menu-control">
        <span>
            <div *ngIf="myList">
                {{myList.name}}
                <mat-icon color="primary" class="ob-card-apex-icon">work</mat-icon>
            </div>
            <div *ngIf="!myList">
                <mat-spinner [diameter]="40" mode="indeterminate" color="primary"></mat-spinner>
                <mat-icon color="accent" class="ob-card-apex-icon">work</mat-icon>
            </div>
        </span>
        <mat-form-field >
            <input matInput placeholder="Filter" type="search" class="ob-form-input">
        </mat-form-field>
    </div>
  </mat-card-title>
  
  <mat-card-content>

    <mat-list>
        <div *ngIf="!myList">
            <mat-spinner [diameter]="80" mode="indeterminate" color="accent"></mat-spinner>
        </div>
        <div *ngIf="myList">
            <mat-list-item *ngFor="let listitem of myList.listitems" class="ob-list-item">
                <div class="ob-arrange-justify">
                    <span>
                        <mat-checkbox color="warn" [(ngModel)]="listitem.checked" (change)="onCheckListItemChange($event,listitem.listitemid)">
                            <h4 mat-line class="ob-list-header">{{listitem.name}}</h4>
                            <p mat-line class="ob-list-text"> {{listitem.longDescription}} </p>
                        </mat-checkbox>
                    </span>
                    <span>
                        <button mat-button [mat-menu-trigger-for]="listMenu" class="ob-inline-menu-button">
                            <mat-icon color="primary">settings</mat-icon>
                        </button>
                        
                        <mat-menu #listMenu="matMenu" class="ob-inline-menu-contents">
                                <button mat-menu-item (click)="copyMyListItem(listitem.listitemid)">Copy</button>
                                <button mat-menu-item (click)="openRenameListItemDialog(listitem)">Rename</button>
                                <button mat-menu-item (click)="deleteMyListItem(listitem.listitemid)">Delete</button>
                        </mat-menu>
                    </span>
                </div>
            </mat-list-item>
        </div>
    </mat-list>
    
  </mat-card-content>
</mat-card>

