<div class="row align-items-end">
    <div class="col-2"></div>
    <div class="col-8" *ngIf="errorMessage"> {{errorMessage}} </div>
    <div class="col-2"></div>
</div>

<div class="row">
  <div class="well">
    <div class="col-sm">
        <div class="row align-items-center">
            <div class="col-8">

            </div>
        </div>
    </div> <!-- col -->
  </div> <!-- well -->
</div> <!-- row -->

<mat-card class="ob-card-apex md-elevation-z6">
  
  <mat-card-title>
    My Account
    <mat-icon color="primary" class="ob-card-apex-icon">settings</mat-icon>
  </mat-card-title>
  
  <mat-card-content>
        
        <mat-card class="ob-card md-elevation-z12">
          <mat-card-header>
            <img mat-card-avatar src="assets/rv8.png">
            <mat-card-title>Email:</mat-card-title>
            <mat-card-subtitle>{{myUserName}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button (click)="myLogout()" color="warn">Logout</button>
          </mat-card-content>
        </mat-card>

        <mat-list>

            <div *ngIf="!userprops">
                <mat-list-item>
                    <mat-spinner [diameter]="80" mode="indeterminate" color="primary"></mat-spinner>
                </mat-list-item>
            </div>
            <div *ngIf="userprops">
                <mat-list-item *ngFor="let userprop of userprops" class="ob-list-item">
                    <h3 mat-line>{{ userprop.Name }}</h3>
                    <p mat-line>
                        <span>{{ userprop.Value }}</span>
                    </p>
                </mat-list-item>
            </div>
        </mat-list>

  </mat-card-content>
</mat-card>