<div class="row">
    <h3>User Management</h3>
</div>

<div class="row align-items-start">
    <div class="col-2"></div>
    <div class="col-8">
        <div *ngIf="username">
            <h4 class="page-header">Username Test</h4>
            <p>Username: {{username}}</p>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<div class="row align-items-center">

    <div class="col-8">
        <div class="wheel-loader" *ngIf="!userprops"></div>
        
        <div *ngIf="userprops">
            <h4>My Profile</h4>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    <tr *ngFor="let userprop of userprops" class="active">
                        <td>{{ userprop.name }}</td>
                        <td>{{ userprop.value }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="row align-items-end">
    <div class="col-2"></div>
    <div class="col-8" *ngIf="errorMessage"> {{errorMessage}} </div>
    <div class="col-2"></div>
</div>

<div class="row">
  <div class="well">
    <div class="col-sm">
      <h4>Test - Ignore</h4>
    </div>
    <div class="col-sm">
      <button class="btn btn-primary" (click)="s3Test()">S3Test</button>
    </div>
  </div>
</div>