.ob-grid-list {
}

.mat-card-top {
    /* 100 */
    background-color: #e7e6df;
    margin-top: 20px;
}

.mat-grid-list {
    
}

.ob-basic-list .mat-grid-tile {
    background: rgba(0, 0, 0, 0.32);
}

.dash-card {
    margin: 20px 10px;
}