<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="mydataSource">

    <!-- listid Column -->
    <ng-container matColumnDef="listid">
      <mat-header-cell *matHeaderCellDef> ListID </mat-header-cell>
      <mat-cell *matCellDef="let myitem"> {{myitem.listid}} </mat-cell>
    </ng-container>
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> List Name </mat-header-cell>
      <mat-cell *matCellDef="let myitem"> {{myitem.name}} </mat-cell>
    </ng-container>
    <!-- longDescription Column -->
    <ng-container matColumnDef="longDescription">
      <mat-header-cell *matHeaderCellDef> Long Description </mat-header-cell>
      <mat-cell *matCellDef="let myitem"> {{myitem.longDescription}} </mat-cell>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let myitem"> {{myitem.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="mydisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: mydisplayedColumns;"></mat-row>
  </mat-table>
</div>

<h3>List Details</h3>
<table>
  <tr><th> Id</th> <th>name</th><th>name</th></tr>
  <tr *ngFor="let list of lists" >
        <td>{{list.uid}}</td> <td>{{list.listid}}</td> <td>{{list.name}}</td>
  </tr>
</table>

<div *ngIf="errorMessage"> {{errorMessage}} </div> 