<div *ngIf="errorMessage"> {{errorMessage}} </div> 

<div class="ob-fab-add-group ob-fab-stacker">            
    <button mat-mini-fab color="primary" aria-label="Add a item" class="ob-fab-roomy" (click)="openAddListDialog()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="Help" class="ob-fab-roomy">
        <mat-icon>help_outline</mat-icon>
    </button>
</div>

<mat-card class="ob-card-apex md-elevation-z6">
  
  <mat-card-title class="thinner">
    <div class="ob-menu-control">
        <span>Setup
            <mat-icon color="primary" class="ob-card-apex-icon">work</mat-icon>
        </span>
        <mat-form-field >
            <input matInput placeholder="Filter" type="search" class="ob-form-input">
        </mat-form-field>
    </div>
    
  </mat-card-title>
  
  <mat-card-content>
    
    <mat-tab-group>
      <mat-tab label="Active">
        <mat-list>
          <h3 mat-subheader>All lists that aren't locked templates or archived.</h3>
          <setuplist [lists]="activelists" (listAction)="listStatusChange($event)">
          </setuplist>
        </mat-list>
      </mat-tab>
      
      <mat-tab label="Templates">
        <mat-list>
          <h3 mat-subheader>Create copies of locked template lists for use.  Enables reuse of favorite lists.</h3>
          <setuplist [lists]="lockedlists" (listAction)="listStatusChange($event)">
          </setuplist>
        </mat-list>
      </mat-tab>
      
      <mat-tab label="Archived">
        <mat-list>
          <h3 mat-subheader>Save old lists here.  An archived list can be deleted.</h3>
          <setuplist [lists]="archivedlists" (listAction)="listStatusChange($event)">
          </setuplist>
        </mat-list>
      </mat-tab>
      
    </mat-tab-group>

  </mat-card-content>
  
</mat-card>