@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

.navimage { 
    text-align: center;
    background-size: 25%;
    margin: 0px 20px;
    min-height: 100px;
    height: 100px;
}

.menu-leader {
    margin-left: 4px;
}

.mat-grid-list {
  background: lightblue;

}

.mat-sidenav-content {
    /* 600 */
    background-color: #a9a58b; 
}