/* Mat */
.mat-grid-list {
  background: lightblue;
}
.mat-sidenav-content {
    /* 600 */
    background-color: #a9a58b; 
}
.mat-toolbar.mat-primary {
    /* 50 */
    color: #f6f5f2;
}

/* App Custom */
.navimage { 
    text-align: center;
    background-size: 25%;
    margin: 0px 20px;
    min-height: 100px;
    height: 100px;
}
.menu-leader {
    margin-left: 4px;
}
.ob-arrange-justify {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
}
.ob-card-apex {
    /* 100 */
    background-color: #e7e6df;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ob-card-apex-icon {
    vertical-align: sub;
}
.ob-card {
    /* 50 */
    background-color: #f6f5f2;
    margin: 20px 10px;
}
.ob-list-item {
    /* 50 */
    background-color: #f6f5f2;
    border-top: 1px dashed #ddd;
}
.ob-list-header {
    margin: 4px 10px -2px 10px !important;
    width: 200px;
    text-overflow: ellipsis;

}
.ob-list-text {
    margin: -2px 10px 4px 10px !important;
    width: 200px;
    text-overflow: ellipsis;

}
.ob-inline-menu-button {
    /* overrules .mat-button */
    min-width: 12px !important;
    padding: 0 !important;
    color: #b0ac93 !important;
}
.ob-inline-menu-contents {
    /* 50 */
    background-color: #f6f5f2;
}
.ob-menu-control{
    display: flex; 
    flex-direction: column;
    
}
.ob-fab-add-group {
    position: fixed;
    z-index: 1;
    background-color: transparent;
    height: auto;
    width: auto;
    bottom: 30px;
    right: 70px; 
}
.ob-fab-stacker {
    display: flex;
    flex-direction: column;
}
.ob-fab-roomy {
    margin-bottom: 10px !important;
}
